.hrs{
    padding: 0px 40px;
    
}
.hrs > h2{
    font-family: sans-serif;
    font-size: 20pt;
}
.align{
    font-size: 16pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:80%;
    position: relative;
    list-style: none;
}
.align > li{
    padding: 20px;
    flex-grow: 1;
    width:50%;
    text-align: left;
}
