header{
    display: none;
}

#banner{
    font: 40px sans-serif;
    position: relative;
}
.topImage{
    width: 25%;
    height:auto;
    padding: 0 0 15px;
}
.root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
html{
    background-color: rgb(24, 61, 78);
}
body{
    background-color: white;
    margin: 10px 10%;
    padding: 10px;
}
#mission{
    font-family: sans-serif;

    font-size: 20pt;
}
.nav{
    width:100%;
    background-color: rgb(47, 119, 153);
    color:black;
    
    margin:0px;
    
}
 .list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    
    list-style: none;
    
    
    
} 
.Litem{
    
    font-size: 25px;/*pica(pc) or em instead of pix*/
    width: 100%;  
    content: center;
    margin:0px;
    
    /* text-decoration: none; */

}
.Litem:hover{
    background-color: navy;
    color:white;
}
 .Litem a:hover{
    background-color: navy;
    color:white;
} 
.Litem a{
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    text-decoration: none;
}
#menubutton{
    display: none;
}

.content{
    font-family: sans-serif;
    font-size: 18pt;
    
}
@media(max-width:760px) and (min-width:450px){
    #banner{
        font: 30px sans-serif;

    }
    .topImage{
        width: 50%;
        height:auto;
    }
}
/* use for floating menu*/
 @media(max-width:670px){
    img{
        padding-top: 15px;
        width: 50px;
        height: auto;
    }
    .nav, #banner{
      display: none;  
    }
    .root{
        padding-top: 100px;
    }
    header{
        display: flex;
        background-color:   rgba(47, 119, 153, 1);
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        padding:0px;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000000;
    }
    #menubutton{
        display: block;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    #navigate.open {
        display: block;
    }

    #navigate {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
    }

    #navigate>ul {
        flex-direction: column;
        background-color: white;
    }

    #navigate>ul>li {
        border-top: 1px solid white;
    }

    #navigate>ul>li:active, .active {
        background-color: rebeccapurple;
    }
} 
/*for phones mainly*/
@media(max-width:450px){
    #banner{
        font-size: 12pt;
    }
    .topImage{
        width: 75%;
        height:auto;
    }
    body{
        margin: 5px 1%;
    }
    .content{
        font-size: 12pt;
    }
    #mission{
        font-size: 12pt;
    }
}


.MealPlan{
    display:inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border:solid black;
    background-color: lightgray;
    text-align: left;
    font-family: sans-serif;
    padding:5px;
    margin: 5px;
    width:100%;
}





.news{
    font-family: serif;
    font-size: 32pt;
}

