#banner{
    font: 40px sans-serif;
}
.root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
html{
    background-color: blue;
}
body{
    background-color: white;
    margin: 10px 15%;
    padding: 10px;
}
#mission{
    font-size: 20px;
}
.nav{
    width:100%;
    background-color: lightblue;
    color:black;
    
    margin:0px;
    
}
 .list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    
    list-style: none;
    
    
    
} 
.Litem{
    
    font-size: 25px;/*pica(pc) or em instead of pix*/
    width: 100%;  
    content: center;
    margin:0px;
    
    /* text-decoration: none; */

}
.Litem a:hover{
    background-color: magenta;
    color:lightpink;
}
.Litem a{
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    text-decoration: none;
}


